@{
    ViewData["Title"] = "Send Email";
}

<div id="Status">
    <table id="StatusTable">
        <tr>
            <th>Email</th>
            <th>Status</th>
        </tr>

    </table>
</div>

<div id="sendform">
    <form method="post">

        <table id="SendTable">
            <tr>
                <td>Email получателя через пробел:</td>
                <td><textarea type="text" name="email" id="emails"></textarea> </td>
            </tr>
            <tr>
                <td>От кого email:</td>
                <td><input type="text" name="fromwho" /> </td>
            </tr>
            <tr>
                <td>Тема письма:</td>
                <td><input type="text" name="topic" /> </td>
            </tr>
            <tr>
                <td>Введите сообщение:</td>
                <td><textarea type="text" name="letter" id="message"> </textarea></td>
            </tr>

            <tr><td><input id="sendbutton" type="submit" value="Отправить"  /> </td><td></td></tr>
        </table>
    </form>
</div>




